/* global settings */
body {
  font-family: "Mont";
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  cursor: url("../img/Vector\ 10.png"), auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lighthaus";
  font-weight: 400;
  font-size: 50px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}
s div,
p,
a,
span,
input,
form,
button,
ul,
li {
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active {
  outline: none;
}

.container {
  max-width: 1397px;
  width: 100%;
  margin: 0 auto;
}

/* media size */

/* @media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
} */
