/* header */
.header {
  padding: 40px 0 150px;
  background: url("../img/BG.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.nav {
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  max-width: 160px;
  width: 100%;
}

.header__logo {
  margin-top: -14px;
}

.nav__list {
  margin-left: 17px;
  margin-right: 253px;
}

.nav__item {
  margin-left: 50px;
}

.nav__link {
  font-size: 16px;
  color: #fff;
}

.nav__link:hover {
  border-bottom: 1px solid;
  border-image: linear-gradient(74deg, #5e3928, #e4a16f);
  border-image-slice: 1;
  background-image: linear-gradient(74deg, #5e3928, #e4a16f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: url("../img/Vector\ 10.png"), auto;
}

.info {
  gap: 20px;
}

.info__link {
  margin-top: -228px;
  overflow: hidden;
  display: inline-block;
  padding: 212px 10px 14px 10px;
  background: #fff;
  color: #0b3f37;
  font-size: 28px;
}

.fa-cart-shopping {
  background-image: linear-gradient(74deg, #5e3928, #e4a16f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__title {
  margin-top: 145px;
  font-family: "Lighthaus";
  font-weight: 400;
  font-size: 100px;
}

.header__title:after {
  content: "";
  display: block;
  border: 1px solid #fff;
  max-width: 623px;
  margin-top: 49px;
}

.oil {
  margin-top: 50px;
}

.oil__title {
  font-family: "Mont";
  font-weight: 800;
  max-width: 533px;
  width: 100%;
  text-transform: none;
}

.oil__offer {
  font-weight: 400;
  margin-top: 40px;
  font-size: 30px;
  max-width: 326px;
  width: 100%;
  justify-content: space-between;
}

.oil__price {
  font-weight: 800;
}

.oil__link {
  font-size: 18px;
  font-weight: 800;
  display: inline-block;
  padding: 16px 131px 17px 132px;
  max-width: 327px;
  width: 100%;
  margin-top: 41px;
  background-image: linear-gradient(74deg, #5e3928, #e4a16f);
  color: #fff;
  text-align: center;
}

.colors {
  margin-top: 71px;
  gap: 10px;
}

.color__1 {
  background-image: linear-gradient(74deg, #5e3928, #e4a16f);
  width: 12px;
  height: 12px;
}

.color__2 {
  background: #fff;
  width: 12px;
  height: 12px;
}

.color__2 {
  background: #fff;
  width: 12px;
  height: 12px;
}

/* product */

.product {
  background: #fff;
  padding: 76px 0 74px;
  text-align: center;
}

.product__collage {
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 31px;
}

.product__img {
  background-color: #c4c4c4;
  transition: background-color 0.3s ease-in-out;
  max-width: 446px;
  width: 100%;
  box-shadow: 0 0 50px rgb(0 0 0 / 12%);
  display: block;
}

.product__img:hover {
  background-color: #072c26;
}

.product__img:last-of-type {
  max-height: 444px;
  height: 100%;
}

.product__img-wrap {
  position: relative;
}

.product__img-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.6s;
}

.product__img-overlay:hover {
  opacity: 1;
}

.product__img-overlay > * {
  transform: translateY(25px);
}

.product__title {
  font-size: 30px;
  font-weight: 600;
  font-family: "Mont";
  text-transform: none;
  color: #fff;
  margin-top: 230px;
}
/* sales */

.sales {
  padding: 110px 0 100px;
  text-align: center;
  background-image: url("../img/fone.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sales__top {
  margin-top: 40px;
  justify-content: center;
  gap: 31px;
}

.sales__wrap-0 {
  flex-direction: column;
  text-align: left;
}

.sales__wrap {
  flex-direction: column;
  text-align: left;
}

.sales__img {
  max-width: 446px;
  width: 100%;
}

.sales__img-wrap {
  position: relative;
}

.sales__img-link {
  color: #000;
  display: inline-block;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  padding: 17px 10px 16px 10px;
  font-size: 27px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fa-heart:hover {
  background-image: linear-gradient(#5e3928, #e4a16f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sales__text__wrap-0 {
  justify-content: space-between;
  align-items: flex-end;
  color: #031412;
}

.sales__text__wrap {
  justify-content: space-between;
  align-items: flex-end;
  color: #031412;
}

.sales__text-1,
.sales__text-2,
.sales__text-3 {
  margin-top: 29px;
  font-size: 20px;
  font-weight: 600;
}

.sales__text-1 {
  max-width: 257px;
  width: 100%;
}

.sales__price {
  font-size: 30px;
  font-weight: 800;
}

.sales__colors {
  justify-content: center;
}

.sales__colors {
  margin-top: 47px;
  gap: 10px;
}

.colors__1 {
  background-image: linear-gradient(74deg, #5e3928, #e4a16f);
  width: 12px;
  height: 12px;
}

.colors__2 {
  background: #031412;
  width: 12px;
  height: 12px;
}

.sales__link {
  font-size: 18px;
  font-weight: 800;
  padding: 17px;
  display: inline-block;
  max-width: 327px;
  width: 100%;
  margin-top: 42px;
  background-image: linear-gradient(74deg, #5e3928, #e4a16f);
  color: #fff;
}

/* new */
.new {
  text-align: center;
  padding: 66px 0 76px;
}

.new__wrap-0 {
  flex-direction: column;
  text-align: left;
}

.new__wrap {
  flex-direction: column;
  text-align: left;
}

.new__img {
  max-width: 446px;
  width: 100%;
}

.new__text__wrap {
  justify-content: space-between;
  align-items: flex-end;
}

.new__text__wrap-0 {
  justify-content: space-between;
  align-items: flex-end;
}

.new__text {
  color: #031412;
  max-width: 257px;
  margin-top: 29px;
  font-size: 20px;
  font-weight: 600;
}

.new__price {
  flex-direction: column;
  color: #9b0000;
  font-size: 30px;
  font-weight: 800;
}

.new__price-2 {
  color: #031412;
  opacity: 30%;
  position: relative;
  font-size: 20px;
  text-align: right;
}

.new__price-2:after {
  content: "";
  display: block;
  position: absolute;
  left: 30%;
  top: 50%;
  right: 0;
  opacity: 30%;
  border: 1px solid #031412;
  rotate: 18deg;
  max-width: 95px;
  width: 100%;
}

/* three */

.three {
  padding: 80px 0 39px;
  background: url("../img/BG.png"),
    url("../img/247373612_410886857150066_1869954703113193933_n\ 1.png");
  background-position: left center, right center;
  background-repeat: no-repeat;
  color: #fff;
}

.three__main {
  flex-direction: column;
  row-gap: 50px;
}

.three__title {
  font-size: 140px;
}

.three__second__title {
  text-transform: none;
  font-family: "Mont";
  font-weight: 600;
  font-size: 35px;
  max-width: 533px;
  width: 100%;
}

.three__link {
  font-size: 18px;
  font-weight: 800;
  padding: 17px;
  display: inline-block;
  max-width: 327px;
  width: 100%;
  margin-top: 42px;
  background-image: linear-gradient(74deg, #5e3928, #e4a16f);
  color: #fff;
  text-align: center;
}

/* recommend */
.recommend {
  padding: 39px 0 80px;
  text-align: center;
}

/* discount */

.discount {
  padding: 80px 0 80px;
  text-align: center;
  background-image: url("../img/fone.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* about */
.about {
  padding: 100px 0 30px;
  text-align: center;
}

.contact__list {
  margin-top: 40px;
  justify-content: space-between;
}

.contact__item {
  background: #fff;
  max-width: 423px;
  width: 100%;
}

.contact__character {
  box-shadow: 0 0 5px rgb(0 0 0 / 6%);
  text-align: left;
  padding: 21px 40px 55px 30px;
  flex-direction: column;
  gap: 18px;
  max-width: 376px;
  width: 100%;
}

.contact__img {
  max-width: 63px;
}

.contact__name {
  font-family: "Mont";
  font-weight: 600;
  font-size: 25px;
}

.contact__text {
  font-weight: 400;
}

.contact__time {
  font-size: 14px;
  font-weight: 800;
}

/* us */
.us {
  padding: 110px 0 100px;
  text-align: center;
  background-image: url("../img/fone.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.us__list {
  justify-content: space-between;
  margin-top: 49px;
  flex-wrap: wrap;
  gap: 34px;
}

.us__info {
  text-align: left;
  font-family: "Mont";
  max-width: 308px;
  width: 100%;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
}

.us__img {
  max-width: 76px;
  width: 100%;
}

.us__title {
  font-family: "Mont";
  font-weight: 800;
  text-transform: none;
  font-size: 20px;
}

.us__text {
  color: #031412;
}

.us__link {
  font-weight: 800;
  background-image: linear-gradient(74deg, #5e3928, #e4a16f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-angle-down {
  color: #cf9164;
  width: 8px;
  margin-left: 7px;
}

/* footer */

.footer {
  background: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 79px 0 74px;
}

.footer__main {
  justify-content: space-between;
  text-align: left;
}

.rights {
  font-size: 14px;
  flex-direction: column;
}

.footer__img {
  max-width: 160px;
  width: 100%;
}

.rights__text {
  margin-top: 24px;
  color: #adadad;
  max-width: 214px;
  width: 100%;
}

.rights__link {
  margin-top: 21px;
  color: #fff;
}

.rights__link:after {
  content: "";
  max-width: 229px;
  width: 100%;
  border-bottom: 1px solid #fff;
  display: block;
  margin-top: -4px;
}

.footer__nav {
  color: #fff;
  justify-content: space-between;
  max-width: 643px;
  width: 100%;
  gap: 137px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__title {
  font-weight: 800;
  font-size: 18px;
  font-family: "Mont";
  text-transform: none;
}

.footer__link {
  color: #fff;
  font-size: 13px;
}

.footer__link-adress {
  max-width: 132px;
  width: 100%;
  color: #fff;
}

.social {
  gap: 19px;
  margin-top: 16px;
}

.social i {
  font-size: 20px;
}

/* JQuary*/

@media screen and (max-width: 1400px) {
  .nav__item {
    margin-left: 48px;
  }

  .us__list {
    gap: 9px;
  }

  .contact__item {
    width: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .nav__list {
    margin-right: 45px;
  }

  .nav__item {
    margin-left: 25px;
  }

  .contact__item {
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
  .nav__list {
    margin-right: 0;
  }

  .nav__list {
    position: absolute;
    top: 50px;

    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .nav {
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    position: relative;
    align-items: center;
  }

  .nav__list {
    position: absolute;
    margin-top: 150px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .header__title {
    font-size: 60px;
  }

  .header__title:after {
    content: "";
    display: block;
    border: 1px solid #fff;
    width: 56%;
    margin-top: 49px;
  }

  .oil__title {
    font-size: 30px;
    width: 50%;
  }

  .oil__offer {
    align-items: center;
    width: 35%;
    font-size: 24px;
    font-weight: 400;
  }

  .oil__price {
    font-weight: 800;
  }

  .oil__link {
    display: inline-block;
    text-align: center;
    padding: 16px 90px 17px 90px;
    max-width: 250px;
    width: 100%;
  }

  .h3 {
    font-size: 40px;
  }

  .sales__top {
    width: 100%;
  }

  .sales__wrap {
    width: 100%;
  }

  .sales__wrap-0 {
    display: none;
  }

  .sales__text__wrap-0 {
    display: none;
  }

  .sales__text__wrap {
    align-items: center;
    justify-content: space-between;
  }

  .sales__wrap {
    width: 50%;
  }

  .sales__text-1 {
    width: 50%;
  }

  .sales__price {
    width: 50%;
    text-align: end;
  }

  .new__wrap-0 {
    display: none;
  }

  .new__text__wrap-0 {
    display: none;
  }

  .three__title {
    font-size: 100px;
  }

  .three__second__title {
    font-size: 20px;
    max-width: 306px;
    width: 100%;
  }

  .new__price-2:nth-child(2n + 1) {
    display: none;
  }

  .new__price {
    color: #031412;
  }

  .contact__item:first-of-type {
    display: none;
  }

  .contact__item {
    width: 50%;
  }

  .contact__character {
    width: 75%;
  }

  .us__list {
    justify-content: center;
  }

  .footer__main {
    flex-direction: column;
  }

  .rights__link {
    margin-top: 5px;
  }

  .footer__nav {
    margin-top: 48px;
  }
}

@media screen and (max-width: 576px) {
  .nav__list {
    display: none;
  }

  .header__title {
    font-size: 30px;
  }

  .info__link:first-of-type {
    display: none;
  }

  .fa-heart:first-of-type {
    display: none;
  }

  .info__link {
    width: 50%;
  }

  .header__title:after {
    content: "";
    display: block;
    border: 1px solid #fff;
    width: 70%;
    margin-top: 19px;
  }

  .oil__title {
    font-size: 20px;
    width: 95%;
  }

  .oil__offer {
    align-items: center;
    width: 58%;
    font-size: 16px;
  }

  .oil__link {
    display: inline-block;
    text-align: center;
    padding: 16px 90px 17px 50px;
    max-width: 250px;
    width: 57%;
  }

  h3 {
    font-size: 24px;
  }

  .product__collage {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .product__img {
    width: 100%;
  }

  .sales__wrap:last-of-type {
    display: none;
  }

  .sales__wrap {
    width: 100%;
  }

  .sales__text__wrap {
    align-items: center;
    justify-content: space-between;
  }

  .sales__text-1 {
    width: 66%;
  }

  .new__price-2 {
    width: 66%;
  }

  .new__price {
    width: 30%;
    font-size: 20px;
    text-align: end;
  }

  .sales__price {
    width: 30%;
    font-size: 20px;
    text-align: end;
  }

  .three__main {
    gap: 20px;
  }

  .three__link {
    margin-top: 0;
    padding: 16px;
    margin-bottom: 250px;
  }

  .three__title {
    font-size: 60px;
  }

  .three__second__title {
    font-size: 14px;
    width: 70%;
  }

  .contact__list {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .contact__item {
    width: 100%;
  }

  .contact__item:last-of-type {
    display: none;
  }

  .us__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .us__info {
    width: 50%;
  }
}
